src/AngularAutoSaveCommands/node_modules
src/AngularAutoSaveCommands/bin
src/AngularAutoSaveCommands/obj
.vs/AngularAutoSaveCommands/v14/.suo
.vs
src/AngularAutoSaveCommands/project.lock.json
src/AngularAutoSaveCommands/angular2App/app/services/aboutDataService.js
src/AngularAutoSaveCommands/angular2App/app/services/aboutDataService.js.map
src/AngularAutoSaveCommands/angular2App/app/services/CommandDto.js
src/AngularAutoSaveCommands/angular2App/app/services/CommandDto.js.map
src/AngularAutoSaveCommands/angular2App/app/services/commandService.js
src/AngularAutoSaveCommands/angular2App/app/services/commandService.js.map
src/AngularAutoSaveCommands/angular2App/app/services/homeDataService.js
src/AngularAutoSaveCommands/angular2App/app/services/homeDataService.js.map
src/AngularAutoSaveCommands/angular2App/app/about/about.component.js
src/AngularAutoSaveCommands/angular2App/app/about/about.component.js.map
src/AngularAutoSaveCommands/angular2App/app/about/AboutData.js
src/AngularAutoSaveCommands/angular2App/app/about/AboutData.js.map
src/AngularAutoSaveCommands/angular2App/app/app.component.js
src/AngularAutoSaveCommands/angular2App/app/app.component.js.map
src/AngularAutoSaveCommands/angular2App/app/app.module.js
src/AngularAutoSaveCommands/angular2App/app/app.module.js.map
src/AngularAutoSaveCommands/angular2App/app/app.routes.js
src/AngularAutoSaveCommands/angular2App/app/app.routes.js.map
src/AngularAutoSaveCommands/angular2App/app/commands/commands.component.js
src/AngularAutoSaveCommands/angular2App/app/commands/commands.component.js.map
src/AngularAutoSaveCommands/angular2App/app/home/home.component.js
src/AngularAutoSaveCommands/angular2App/app/home/home.component.js.map
src/AngularAutoSaveCommands/angular2App/app/home/HomeData.js
src/AngularAutoSaveCommands/angular2App/app/home/HomeData.js.map
src/AngularAutoSaveCommands/angular2App/app/httprequests/httprequests.component.js
src/AngularAutoSaveCommands/angular2App/app/httprequests/httprequests.component.js.map
src/AngularAutoSaveCommands/Angular2AutoSaveCommands.xproj.user
src/AngularAutoSaveCommands/aot
src/AngularAutoSaveCommands/npm-debug.log
src/AngularAutoSaveCommands/angular2App/app/app.constants.js
Backup
Backup
src/AngularAutoSaveCommands/angular2App/polyfills.js
src/AngularAutoSaveCommands/angular2App/vendor.js
src/AngularAutoSaveCommands/**/*.js
src/AngularAutoSaveCommands/**/*.js.map
