
<div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ActualClientRoute</th>
                <th>CommandType</th>
                <th>Payload</th>
                <th>PayloadType</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:20px;" *ngFor="let commands of Commands">
                <td>{{commands.id}}</td>
                <td>{{commands.actualClientRoute}}</td>
                <td>{{commands.commandType}}</td>
                <td>{{commands.payload}}</td>
                <td>{{commands.payloadType}}</td>

            </tr>
        </tbody>
    </table>

</div>
